/*@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=MuseoModerno&display=swap");*/

* {
    font-family: "Monaco", cursive;
}

.header {
    height: 85px;
    display: flex;
    background-color: deepskyblue;
    justify-content: center;
}

.header > div {
    display: flex;
    align-items: center;
    margin: 10px 20px auto;
    flex-direction: column;
}

.header span, a{
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: white;
}

button {
    color: black;
    margin: 20px 5px 0;
    border-radius: 6px;
    letter-spacing: 1px;
    display: inline-block;
    text-decoration: none;
    background-color: deepskyblue;
}

button:hover {
    transition: 0.5s;
    border: 2px solid red;
}

button:active {
    transition: 0s;
    color: white;
    box-shadow: 0 0 20px 5px darkred;
}

.all-tables {
    padding: 20px;
    display: table;
    text-align: center;
    margin: 30px auto auto;
    background-color: #00bfff5e;
}

.graph-data div.row > svg {
    padding: 15px;
    border-radius: 20%;
    background-color: white;
    box-shadow: 0 0 5px 0 aqua;
}

.graph-data div > form {
    /*margin-left: 50px;*/
    border-radius: 7%;
    background-color: deepskyblue;
    padding: 25px 25px 20px 25px;
}

.table-check {
    color: white;
    max-width: 80%;
    margin: 20px auto;
    border: 1px solid black;
    background-color: deepskyblue;
    box-shadow: 0 0 10px 1px black;
}

.table-header > th {
    padding: 20px;
    font-size: 20px;
    font-weight: lighter;
}

.table-row > td {
    font-size: 20px;
    text-align: center;
    font-weight: lighter;
}

.table-row:nth-of-type(odd) {
    margin: 0;
    background-color: #1f1f1f;
}

.x-checkboxes::first-letter {
    font-size: 20px;
    font-weight: bold;
    color: rebeccapurple;
}

#coordinates-form label > input {
    margin: 5px;
    text-align: center;
}

.button-selected {
    border-width: 2px;
    border-color: red;
}

input[name=x] {
    color: black;
    background-color: rgba(0, 191, 255, 0.1);
}